/* setting rules for the entire page that can be overridden by more specific commands to follow */
:root {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --primary: #729E7F;
    --secondary: #0C5723;
    --tertiary: #97D1A8;
    --quaternary: white;
    background-color: var(--quaternary);
    color: var(--primary);
}

/* allows multiple elements to share the same line in the header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 100%;
    background-color: var(--tertiary);
    color: var(--quaternary);
}

/* sets font size and shadow on h1 */
header h1 {
    font-size: 250%;
    text-shadow: 0 0 10px var(--secondary);
}

/* positions nav elements on the right of header */
nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    list-style-type: none;
  }

/* allowing nav elements to sit side by side without bullet points or underline */
nav li a {
    display: inline;
    color: var(--quaternary);
    text-decoration: none;
}

/* changes color of nav when mouse hovers over */
nav li a:hover {
    color: var(--secondary);
}

main {
    width: 98%;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

h2{
    font-size: 175%;
    text-align: center;
}

.box-row {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.box-fig {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
}

.mid-heading {
    font-size: 150%;
    display: inline-block;
    margin: 3%;
}

#About {
    position: relative;
    top: 0px;
}

#selfie {
    border: 5px solid var(--primary);
    outline: 5px solid var(--tertiary);
    position: relative;
    top: 0px;
    display: inline-block;
    margin-right: 25px;
}

#myinfo {
    position: relative;
    margin: 2px;
}

#Work {
    position: relative;
    top: 0px;
}








#bottom {
    background-color: var(--primary);
    color: var(--quaternary);
}

#bottom a {
    color: var(--quaternary);
    text-decoration: none;
}

#bottom a:hover{
    color: var(--secondary);
    text-decoration: none;
}

.contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 5px;
}

.contact-info h4 {
    position: relative;
    left: 55px;
}

.contact-info p {
    position: relative;
    top: 30px;

}

#Contact {
    position: relative;
    top: 0px;
}

